<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color: aqua;
        }
        .hi{
            position: fixed;
            top: 35%;
            left: 25%;
            background-color: aliceblue;
            padding: 30px;
            border-radius: 10%;
        }
        .emoji{
            position: relative;
            left: 45%;
        }
    </style>
    <div class="hi">
        <h1>Congratulations You have Login Successfully</h1><br>
        <h1 class="emoji">&#128522;</h1>
    </div>
</body>
</html>